.textbox {
    border: solid black 1px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    resize: none;
}

.bigBorder {
    border: 5px solid green;
}

.border {
    border: solid 1px blue;
}


/* helpers */

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.just-c {
    justify-content: center;
}